<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>UseUnix.org</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&v1' rel='stylesheet' type='text/css'>

	<link rel="shortcut icon" href="/misc/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="css/sidebar.css" />
  <link type="text/css" rel="stylesheet" media="all" href="css/layout.css" />
  <link type="text/css" rel="stylesheet" media="all" href="css/text-styles.css" />
  <link type="text/css" rel="stylesheet" media="all" href="css/backgrounds.css" />
  <script language="javascript"> 
	function toggle(chapternumber) {
		var ele = document.getElementById("chapter" + chapternumber + "content");
		var tit = document.getElementById("chapter" + chapternumber);
		if(ele.style.display == "block") {
	    	ele.style.display = "none";
	    	tit.setAttribute("class", "col");
	  	}
		else {
			ele.style.display = "block";
			tit.setAttribute("class", "exp");
		}
	} 
</script>

<!--[if IE]><link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/zen/zen-internals/css/ie.css?p" /><![endif]-->
<!--[if lte IE 6]><link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/zen/zen-internals/css/ie6.css?p" /><![endif]-->


</head>
<body class="page front">

  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">
    	

    	
    	
	  	<a href="/" title="Home" rel="home" id="logo"><img src="images/logo.gif" alt="Home" /></a>
      	<div id="name-and-slogan"><h1 id="site-name"><a href="/" title="Home" rel="home"><span>UseUnix<span id="orgspan">.org</span></span></a></h1></div><!-- /#name-and-slogan -->
      	
			
			
    </div></div><!-- /.section, /#header -->
    <div id="top-content"><div class="section clearfix">
    	<img src="images/unixphoto.jpg" alt="unixphoto" width="960" height="217" />
    
    </div></div><!-- /.section, /#top-content -->
    


    <div id="main-wrapper"><div id="main" class="clearfix with-navigation">
    
	    <div id="sidebar"><div class="section clearfix">
	    	<div class="sidebarblock">
	    		<div class="sidebartitle">
	    			<h3>Resources</h3>
	    		</div>
	    		<div class="sidebarbody">
	    			<ul>
	    				<li><a href="#">Resource 1</a></li>
	    				<li><a href="#">Resource 1</a></li>
	    				<li><a href="#">Resource 1</a></li>
	    				<li><a href="#">Resource 1</a></li>
	    				
	    			</ul>
	    		</div>
	    	</div>
  		</div></div><!-- /.section, /#sidebar -->

      <div id="content" class="column"><div class="section">
      	<div class="chapter">
      		<div class="chapterhead">
      			<a href="javascript:toggle(1);" class="exp" id="chapter1">1. Introduction</a>
      		</div>
      		<div id="chapter1content" style="display: block">
	      		<table>
	      			<tbody>
	      				<tr class="odd">
	      					<td class="vidtitle"><a href="#">What is Unix?</a></td>
	      					<td class="vidlength">3 min 20 sec</td>
	      				</tr>
	      				<tr class="even">
	      					<td class="vidtitle"><a href="#">The terminal application</a></td>
	      					<td class="vidlength">5 min 55 sec</td>
	      				</tr>
	      				<tr class="odd">
	      					<td class="vidtitle"><a href="#">Logging in and using the command prompt</a></td>
	      					<td class="vidlength">10 min 35 sec</td>
	      				</tr>
	      				<tr class="even">
	      					<td class="vidtitle"><a href="#">Command structure</a></td>
	      					<td class="vidlength">8 min 25 sec</td>
	      				</tr>
	      				<tr class="odd">
	      					<td class="vidtitle"><a href="#">Kernel and shells</a></td>
	      					<td class="vidlength">7 min 5 sec</td>
	      				</tr>
	      				<tr class="even">
	      					<td class="vidtitle"><a href="#">Unix manual pages</a></td>
	      					<td class="vidlength">9 min 23 sec</td>
	      				</tr>
	      			</tbody>
	      		</table>
      		</div>
      	</div>
      
      
      </div></div><!-- /.section, /#content -->
      
			      
      
    </div></div><!-- /#main, /#main-wrapper -->

    
   </div></div><!-- /#page, /#page-wrapper -->

  


</body>
</html>